.gradeInputDiv {
    text-align: center;
}
.gradeInput {

}
.gradeText {

}
.submitBtnDiv {
    text-align: center;
}
.eventList {
    height: 2em;
    border: 1px solid black;
    border-radius: 1em;
    text-align: center;
    font-size: 1.3em;
}
.middleText {
    text-align: center;
}
md-slider .md-track-container {
    height: 1em;
}
.gradeSlider {
    margin-left: 5em;
    margin-right: 5em;
}
