.gradeInputDiv {
    text-align: center;
}
.gradeInput {

}
.gradeText {

}
.submitBtnDiv {
    text-align: center;
}
.eventList {
    height: 2em;
    border: 1px solid #cccccc;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 1em;
    box-shadow: 5px 5px 30px -10px rgba(0,0,0,0.75);
}
.middleText {
    text-align: center;
}
md-slider .md-track-container {
    height: 1em;
}
.gradeSlider {
    margin-left: 5em;
    margin-right: 5em;
}
.ma-add-new-party-container {
    text-align: center;
    padding: 1em;
    padding-left: 5em;
    padding-right: 5em;
}
