.homeDiv {
    border: 2px solid white;
}
.loginThings {
    border: 2px solid white;
    margin-left: 1em;
    padding: 1.2em;
}
.gradeInputDiv {
    text-align: center;
}
.createNewBtn {
    text-align: center;
    margin-top: 2em;
}
.submitBtnDiv {
    text-align: center;
}
.eventListDiv {
    margin: 1em;
}
.eventList {
    display: flex;
    justify-content: space-between;
    justify-content: -webkit-space-between;
    height: 2em;
    border: 1px solid #cccccc;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 1em;
    padding-left: 1em;
    box-shadow: 5px 5px 30px -10px rgba(0,0,0,0.75);
}
.middleText {
    text-align: center;
}
md-slider .md-track-container {
    height: 1em;
}
.gradeSlider {
    margin-left: 5em;
    margin-right: 5em;
}
.ma-add-new-party-container {
    text-align: center;
    padding: 1em;
    padding-left: 5em;
    padding-right: 5em;
}
.beerNum {
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: space-around;
    text-align: center;
    font-size: 1.5em;
    margin-top: 1em;
}
