<div class="allInputs">
    <div class="gradeInputDiv">
        <input ng-model="tasteGrade" type="number" min="1" max="10" class="gradeInput">
        <p class="gradeText">Taste</p>
    </div>
    <div class="gradeInputDiv">
        <input ng-model="smellGrade" type="number" min="1" max="10" class="gradeInput">
        <p class="gradeText">Smell</p>
    </div>
    <div class="gradeInputDiv">
        <input ng-model="finishGrade" type="number" min="1" max="10" class="gradeInput">
        <p class="gradeText">Finish</p>
    </div>
</div>
<div class="favBeerDiv">

</div>
<div class="beerGradeHistory">

</div>
