<div class="allInputs" layout="column">
    <div class="beerNum">
        <md-button class="md-button" ng-click="openTV()">TV</md-button>
        <p class="gradeText"> Beer {{ beerNum }} </p>
        <md-button ng-show="currentUser._id === eventObj.owner">Admin</md-button>
    </div>
    <div class="gradeInputDiv">
        <md-slider class="gradeSlider" flex ng-model="smellGrade" step="1" min="1" max="10" aria-label="Smell"></md-slider>
        <p class="gradeText"> {{ smellGrade }} </p>
        <p class="gradeText">Smell</p>
    </div>
    <div class="gradeInputDiv">
        <md-slider class="gradeSlider" flex ng-model="tasteGrade" step="1" min="1" max="10" aria-label="Taste"></md-slider>
        <p class="gradeText"> {{ tasteGrade }} </p>
        <p class="gradeText">Taste</p>
    </div>
    <div class="gradeInputDiv">
        <md-slider class="gradeSlider" flex ng-model="finishGrade" step="1" min="1" max="10" aria-label="Finish"></md-slider>
        <p class="gradeText"> {{ finishGrade }} </p>
        <p class="gradeText">Finish</p>
    </div>
    <div class="submitBtnDiv">
        <md-button class="md-button md-raised" ng-click="addBeer(tasteGrade, smellGrade, finishGrade)">Submit</md-button>
    </div>
</div>
<div class="beerGradeHistory">
    <canvas id="beerGradeHistory" class="chart chart-bar" chart-data="data" chart-labels="labels"
    chart-legend="true" chart-series="series"></canvas>
</div>
