<div class="allInputs">
    <div class="gradeInputDiv">
        <input ng-model="tasteGrade" type="number" min="1" max="10" class="gradeInput">
        <p class="gradeText">Taste</p>
    </div>
    <div class="gradeInputDiv">
        <input ng-model="smellGrade" type="number" min="1" max="10" class="gradeInput">
        <p class="gradeText">Smell</p>
    </div>
    <div class="gradeInputDiv">
        <input ng-model="finishGrade" type="number" min="1" max="10" class="gradeInput">
        <p class="gradeText">Finish</p>
    </div>
    <div class="submitBtnDiv">
        <button type="submit" ng-click="addBeer(tasteGrade, smellGrade, finishGrade)" class="">Submit</button>
    </div>
</div>
<div class="favBeerDiv">

</div>
<div class="beerGradeHistory">
    <li ng-repeat="b in beerList">
        <p>Beer Number: {{b.beerNum}}</p>
        <p>Rating: {{b.rating}} </p>
        <p>test: name: {{ b.name }}</p>
    </li>
</div>
