<div class="container-fluid ma-add-new-party-container">
    <div class="alert alert-info" ng-hide="$root.currentUser || $root.loggingIn">
        Please log in to create an event!
    </div>

    <form ng-show="$root.currentUser || $root.loggingIn">
        <h2>Create a new event</h2>
        <button ng-click="addNewEvent()" class="btn btn-default">Create Event</button>
        <div class="form-group">
            <label for="nameInput">Name</label>
            <input ng-model="eventName" id="nameInput" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="public">
                <input type="checkbox" ng-model="newEvent.public" id="public"> Public
            </label>
        </div>
        <div class="form-group">
            <label for="addBeer" class="middleText">Add beer to list</label>
            <input ng-model="beerName" id="description" type="text" class="form-control" placeholder="Beer name...">
            <input ng-model="beerDesc" id="description" type="text" class="form-control" placeholder="Beer description...">
            <button class="btn btn-success" ng-click="addBeerToList()">Add</button>
        </div>
    </form>
    <md-list class="beerList" ng-show="$root.currentUser || $root.loggingIn">
        <p class="middleText"> Beers to taste: </p>
        <md-list-item ng-repeat="b in beerList" layout="row">
            <div class="createEventBeerList"> {{ b.beerNum }} - {{ b.beerName }} </div>
            <div class=""> <button class="btn btn-danger" ng-click="removeFromList(b.beerName)">X</button> </div>
        </md-list-item>
    </md-list>
</div>
