<!-- Sidebar on the left, top and middle content -->
<div class="col-md-2">
    <md-button class="md-button md-raised" ng-click="openAddNewEventModal()">Create new event</md-button>
</div>

<div class="col-md-10">
    <md-list>
        <md-list-item ng-repeat="e in events" class="eventList">
            <a href="/beerTasting/{{e._id}}">
                <div class="md-list-item-text">
                    <p> {{ e.name }} </p>
                </div>
            </a>
        </md-list-item>
    </md-list>
</div>
