<!-- Sidebar on the left, top and middle content -->
<div class="createNewBtn">
    <md-button class="md-button md-raised" ng-click="openAddNewEventModal()">Create new event</md-button>
</div>

<div class="eventListDiv">
    <md-list>
        <md-list-item ng-repeat="e in events" class="eventList">
            <a href="/beerTasting/{{e._id}}">
                <div class="md-list-item-text">
                    <p> {{ e.name }} </p>
                </div>
            </a>
            <md-button ng-show="currentUser._id === e.owner" class="md-button" ng-click="removeEvent(e._id)">X</md-button>
        </md-list-item>
    </md-list>
</div>
